// Colors
$color-primary: #343a40;
$color-secondary: #ced4da;

$color-primary-light: #6c757d;
$color-primary-extralight: #e9ecef;
$color-secondary-light: #dee2e6;

// Font family
$font-primary: 'Open Sans', sans-serif;

// Font sizes
$fontsize-base: 1rem;
$fontsize-content-primary: 1.25rem;
$fontsize-content-secondary: 0.875rem;

// Layout
$content-width: 1200px;
$keyboard-width: 918px;

// Components
$key-width-base: 48px;
$key-width-double: 118px;
$key-width-tab: 58px;
$key-width-enter: 108px;
$key-width-space: 383px;
$key-width-ctrl: 83px;